{% extends "base.html" %}

{% block content %}
    <head>
        <script>
            function calculateDday() {
                var dDay = new Date("2023-11-16");
                var now = new Date();
                var timeDiff = dDay.getTime() - now.getTime();
                var daysDiff = Math.ceil(timeDiff / (1000 * 3600 * 24));
                var ddayElement = document.getElementById("dday");
                if (daysDiff > 0) {
                    ddayElement.innerHTML = "D-" + daysDiff;
                } else if (daysDiff === 0) {
                    ddayElement.innerHTML = "D-day!";
                } else {
                    ddayElement.innerHTML = "D+" + Math.abs(daysDiff);
                }
            }
        </script>
    </head>
    <body>
    <h1>
        <center>Home</center>
    </h1>
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>현재 날짜</th>
                <th>현재 날씨</th>
                <th>현재 기온</th>
                <th>대학수학능력시험까지</th>
            </tr>
            <tr>
                <td>{{ current_date }}</td>
                <td>{{ current_weather }}</td>
                <td>{{ current_temperature }}</td>
                <td id="dday"></td>
            </tr>
        </table>

        <script>
            calculateDday();
        </script>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </div>
    </body>

{% endblock %}
