<!DOCTYPE html>
<html>
<head>
    <title>Mock Test Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .search-container {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Mock Test Search</h1>
    <div class="search-container">
        <form action="{% url 'mocktest_search' %}" method="GET" class="form-inline" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="student_number">Student Number:</label>
                <input type="number" name="student_number" id="student_number" class="form-control">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <select name="date" id="date" class="form-control">
                    <option value="2022.03">March 2022</option>
                    <option value="2022.06">June 2022</option>
                    <option value="2022.09">September 2022</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    {% if student_data_list %}
        <h2>Search Results:</h2>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Student Number</th>
                <th>Mock Kor</th>
                <th>Mock Math</th>
                <th>Mock Eng</th>
                <th>Mock Extraclass 1</th>
                <th>Mock Extraclass 2</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for student_data in student_data_list %}
                <tr>
                    <td>{{ student_data.student_stu_num }}</td>
                    <td>{{ student_data.mock_kor }}</td>
                    <td>{{ student_data.mock_math }}</td>
                    <td>{{ student_data.mock_eng }}</td>
                    <td>{{ student_data.mock_extraclass_1 }}</td>
                    <td>{{ student_data.mock_extraclass_2 }}</td>
                    <td>{{ student_data.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Mock Tests Chart {{ student_data_list.0.student_stu_num.class_class_type }} </h2>
        <canvas id="mocktest-chart"></canvas>

        <h2>Differences between class average</h2>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Mock Kor Difference</th>
                <th>Mock Math Difference</th>
                <th>Mock Eng Difference</th>
                <th>Mock Extraclass 1 Difference</th>
                <th>Mock Extraclass 2 Difference</th>
            </tr>
            </thead>
            <tbody>
            {% for diff in difference %}
                <tr>
                    <td>{{ diff.mock_kor|floatformat:1 }}</td>
                    <td>{{ diff.mock_math|floatformat:1 }}</td>
                    <td>{{ diff.mock_eng|floatformat:1 }}</td>
                    <td>{{ diff.mock_extraclass_1|floatformat:1 }}</td>
                    <td>{{ diff.mock_extraclass_2|floatformat:1 }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <a href="recommend.html" class="btn btn-primary">Go to Recommendation</a>
    {% else %}
        <p>No data found.</p>
    {% endif %}
</div>
<script>
    function validateForm() {
        var studentNumber = document.getElementById("student_number").value;
        if (studentNumber < 1 || studentNumber > 170) {
            alert("Student number is not in range");
            return false;
        }
        return true;
    }
    {% if student_data_list %}
        const chartData = [
            {
                label: 'Mock Test Scores',
                data: [
                    {% for student_data in student_data_list %}
                        {{ student_data.mock_kor }},
                        {{ student_data.mock_math }},
                        {{ student_data.mock_eng }},
                        {{ student_data.mock_extraclass_1 }},
                        {{ student_data.mock_extraclass_2 }},
                    {% endfor %}
                ],
                backgroundColor: 'rgba(75, 192, 192, 0.5)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            },
            {
                label: 'Average Score (Same class)',
                data: [
                    {% for student_data in student_data_list %}
                        {% for mocktests in mocktests %}
                            {% if student_data.class_class_type == mocktests.student_stu_num.class_class_type %}
                                {{ mocktests.mock_kor__avg }},
                                {{ mocktests.mock_math__avg }},
                                {{ mocktests.mock_eng__avg }},
                                {{ mocktests.mock_extraclass_1__avg }},
                                {{ mocktests.mock_extraclass_2__avg }},
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                ],
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            },
            {
                label: 'Average Score (Same Curriculum)',
                data: [
                    {% for avg_same_curri_mocktests in avg_same_curri_mocktests %}
                        {{ avg_same_curri_mocktests.mock_kor__avg }},
                        {{ avg_same_curri_mocktests.mock_math__avg }},
                        {{ avg_same_curri_mocktests.mock_eng__avg }},
                        {{ avg_same_curri_mocktests.mock_extraclass_1__avg }},
                        {{ avg_same_curri_mocktests.mock_extraclass_2__avg }},
                    {% endfor %}
                ],
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }
        ];
        const ctx = document.getElementById('mocktest-chart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Mock Kor', 'Mock Math', 'Mock Eng', 'Mock Extraclass 1', 'Mock Extraclass 2'],
                datasets: chartData
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 100
                    }
                }
            }
        });
    {% endif %}
</script>
</body>
</html>
