{% extends "base.html" %}

{% block content %}
    <h1>
        <center>Teacher</center>
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="text" id="searchInput" placeholder="검색어를 입력하세요" oninput="search()">
                <a class="btn btn-info pull-right" href="{% url 'add_teacher' %}"> New Teacher </a>
                <table class="table table-striped">
                    <tr>
                        <th>TEA_NUM</th>
                        <th>TEA_NAME</th>
                        <th>TEA_AGE</th>
                        <th>TEA_SEX</th>
                        <th>TEA_SUBJECT</th>
                        <th>UPDATE</th>
                    </tr>
                    <tbody id="teacherTablebody">
                    <tr>
                        {% for teacher in teachers %}
                            <td> {{ teacher.tea_num }} </td>
                            <td> {{ teacher.tea_name }}</td>
                            <td> {{ teacher.tea_age }}</td>
                            <td> {{ teacher.tea_sex }}</td>
                            <td> {{ teacher.tea_subject }}</td>
                            <td><a class="btn btn-info" href="{% url 'update_teacher' teacher.tea_num %}">Update </a>
                            <td>

                            </tr>
                        {% endfor %}
                </table>

                <a class="btn btn-info pull-right" href="{% url 'add_teacher' %}"> New Teacher </a>
                <div id="pagination">
                    <button onclick="previousPage()">Previous</button>
                    <button onclick="nextPage()">Next</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var currentPage = 0;
        var itemsPerPage = 15;
        var rows = document.getElementById('teacherTablebody').rows;

        function updatePage() {
            var startIndex = currentPage * itemsPerPage;
            var endIndex = (currentPage + 1) * itemsPerPage;

            for (var i = 0; i < rows.length; i++) {
                if (i >= startIndex && i < endIndex) {
                    rows[i].style.display = 'table-row';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }

        function previousPage() {
            if (currentPage > 0) {
                currentPage--;
                updatePage();
            }
        }

        function nextPage() {
            var maxPage = Math.ceil(rows.length / itemsPerPage) - 1;
            if (currentPage < maxPage) {
                currentPage++;
                updatePage();
            }
        }

        updatePage();
    </script>


    <script>
        function search() {
            var searchValue = document.getElementById('searchInput').value.toLowerCase();
            var rows = document.getElementsByTagName('tr');

            for (var i = 1; i < rows.length; i++) {
                var row = rows[i];
                var text = row.innerText.toLowerCase();

                if (text.indexOf(searchValue) === -1) {
                    row.style.display = 'none';
                } else {
                    row.style.display = 'table-row';
                }
            }
        }
    </script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock content %}