{% extends "base.html" %}

{% block content %}
<h1><center>Teacher</center></h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
<input type="text" id="searchInput" placeholder="검색어를 입력하세요" oninput="search()">
        <a class="btn btn-info pull-right" href = "{%url 'add_teacher' %}"> New Teacher </a>
<table class="table table-striped">
  <tr>
   <th>TEA_NUM </th>
   <th>TEA_NAME</th>
   <th>TEA_AGE</th>
   <th>TEA_SEX</th>
   <th>TEA_SUBJECT</th>
    <th>UPDATE</th>
  </tr>
    <tbody id="teacherTablebody">
  <tr>
  {% for teacher in teachers%}
   <td> {{ teacher.tea_num }} </td>
   <td> {{ teacher.tea_name }}</td>
   <td> {{ teacher.tea_age }}</td>
   <td> {{ teacher.tea_sex }}</td>
   <td> {{ teacher.tea_subject }}</td>
    <td> <a class="btn btn-info" href ="{%url 'update_teacher' teacher.tea_num %}" >Update  </a> <td>

    </tr>
  {%endfor%}
</table>

<a class="btn btn-info pull-right" href = "{%url 'add_teacher' %}"> New Teacher </a>

             <!-- 페이징 버튼 영역 추가 -->
        <div id="pagination">
          <button onclick="previousPage()">Previous</button>
          <button onclick="nextPage()">Next</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    var currentPage = 0; // 현재 페이지
    var itemsPerPage = 15; // 페이지당 항목 수
    var rows = document.getElementById('teacherTablebody').rows; // 항목들을 감싸는 테이블의 행들

    // 페이지를 업데이트하고 해당 페이지의 항목들을 보여주는 함수
    function updatePage() {
      var startIndex = currentPage * itemsPerPage;
      var endIndex = (currentPage + 1) * itemsPerPage;

      for (var i = 0; i < rows.length; i++) {
        if (i >= startIndex && i < endIndex) {
          rows[i].style.display = 'table-row';
        } else {
          rows[i].style.display = 'none';
        }
      }
    }

    // 이전 페이지로 이동하는 함수
    function previousPage() {
      if (currentPage > 0) {
        currentPage--;
        updatePage();
      }
    }

    // 다음 페이지로 이동하는 함수
    function nextPage() {
      var maxPage = Math.ceil(rows.length / itemsPerPage) - 1;
      if (currentPage < maxPage) {
        currentPage++;
        updatePage();
      }
    }

    // 검색 기능과 관련된 코드는 그대로 유지됩니다.

    // 페이지 로드 시 첫 번째 페이지로 설정
    updatePage();
  </script>


    <script>
        function search() {
            var searchValue = document.getElementById('searchInput').value.toLowerCase();
            var rows = document.getElementsByTagName('tr');

            for (var i = 1; i < rows.length; i++) {
                var row = rows[i];
                var text = row.innerText.toLowerCase();

                if (text.indexOf(searchValue) === -1) {
                    row.style.display = 'none';
                } else {
                    row.style.display = 'table-row';
                }
            }
        }
    </script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock content %}