{% extends "base.html" %}

{% block content %}
    <html>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> New / Update Teacher </h1>
                <form method="POST">
                    {% csrf_token %}
                    <label>TEA_NUM</label> {{ form.tea_num }} </br>
                    <label>TEA_NAME</label> {{ form.tea_name }} </br>
                    <label>TEA_AGE</label> {{ form.tea_age }} </br>
                    <label>TEA_SEX</label> {{ form.tea_sex }} </br>
                    <label>TEA_SUBJECT</label> {{ form.tea_subject }} </br>
                    <button class="btn btn-default" type="submit">Save</button>
                    <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
                </form>

                {% if teacher %}
                    <a class="btn btn-danger" href="{% url 'delete_teacher' teacher.tea_num %}">Delete</a>
                {% endif %}

            </div>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        </div>
    </div>
    </body>
    </html>

{% endblock content %}
