{% extends "base.html" %}

{% block content %}

    <h1>
        <center>Timetable</center>
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="text" id="searchInput" placeholder="검색어를 입력하세요" oninput="search()">
                <a class="btn btn-info pull-right" href="{% url 'add_timetable' %}"> New Timetable </a>
                <table class="table table-striped">
                    <tr>
                        <th>TITA_NUM</th>
                        <th>TITA_DAY</th>
                        <th>TITA_1C</th>
                        <th>TITA_2C</th>
                        <th>TITA_3C</th>
                        <th>TITA_4C</th>
                        <th>CLASS_CLASS_TYPE</th>
                        <th>Update</th>
                    </tr>
                    <tbody id="timetableTablebody">
                    <tr>
                        {% for timetable in timetables %}
                            <td> {{ timetable.tita_num }} </td>
                            <td> {{ timetable.tita_day }}</td>
                            <td> {{ timetable.tita_1c }}</td>
                            <td> {{ timetable.tita_2c }}</td>
                            <td> {{ timetable.tita_3c }}</td>
                            <td> {{ timetable.tita_4c }}</td>
                            <td> {{ timetable.class_class_type }}</td>
                            <td><a class="btn btn-info"
                                   href="{% url 'update_timetable' timetable.tita_num %}">Update </a>
                            <td>

                            </tr>
                        {% endfor %}
                </table>

                <a class="btn btn-info pull-right" href="{% url 'add_timetable' %}"> New Timetable </a>
                <div id="pagination">
                    <button onclick="previousPage()">Previous</button>
                    <button onclick="nextPage()">Next</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var currentPage = 0;
        var itemsPerPage = 15;
        var rows = document.getElementById('timetableTablebody').rows;

        function updatePage() {
            var startIndex = currentPage * itemsPerPage;
            var endIndex = (currentPage + 1) * itemsPerPage;

            for (var i = 0; i < rows.length; i++) {
                if (i >= startIndex && i < endIndex) {
                    rows[i].style.display = 'table-row';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }

        function previousPage() {
            if (currentPage > 0) {
                currentPage--;
                updatePage();
            }
        }

        function nextPage() {
            var maxPage = Math.ceil(rows.length / itemsPerPage) - 1;
            if (currentPage < maxPage) {
                currentPage++;
                updatePage();
            }
        }

        updatePage();
    </script>

    <script>
        function search() {
            var searchValue = document.getElementById('searchInput').value.toLowerCase();
            var rows = document.getElementsByTagName('tr');

            for (var i = 1; i < rows.length; i++) {
                var row = rows[i];
                var text = row.innerText.toLowerCase();

                if (text.indexOf(searchValue) === -1) {
                    row.style.display = 'none';
                } else {
                    row.style.display = 'table-row';
                }
            }
        }
    </script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% endblock content %}