{% extends "base.html" %}

{% block content %}
    <h1>
        <center>Visit</center>
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="text" id="searchInput" placeholder="검색어를 입력하세요" oninput="search()">
                <a class="btn btn-info pull-right" href="{% url 'add_visit' %}"> New Visit </a>
                <table class="table table-striped">
                    <tr>
                        <th>VISIT_NUM</th>
                        <th>VISIT_DATE</th>
                        <th>VISIT_VISITOR</th>
                        <th>VISIT_LEAVEHOUR</th>
                        <th>STUDENT_STU_NUM</th>
                        <th>ADMINISTRATOR_ADMIN_NUM</th>
                        <th>UPDATE</th>
                    </tr>
                    <tbody id="visitTablebody">
                    <tr>
                        {% for visit in visits %}
                            <td> {{ visit.visit_num }} </td>
                            <td> {{ visit.visit_date }}</td>
                            <td> {{ visit.visit_visitor }}</td>
                            <td> {{ visit.visit_leavehour }}</td>
                            <td> {{ visit.student_stu_num }}</td>
                            <td> {{ visit.administrator_admin_num }}</td>
                            <td><a class="btn btn-info" href="{% url 'update_visit' visit.visit_num %}">Update </a>
                            <td>

                            </tr>
                        {% endfor %}
                </table>

                <a class="btn btn-info pull-right" href="{% url 'add_visit' %}"> New Visit </a>
                <div id="pagination">
                    <button onclick="previousPage()">Previous</button>
                    <button onclick="nextPage()">Next</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var currentPage = 0;
        var itemsPerPage = 15;
        var rows = document.getElementById('visitTablebody').rows;

        function updatePage() {
            var startIndex = currentPage * itemsPerPage;
            var endIndex = (currentPage + 1) * itemsPerPage;

            for (var i = 0; i < rows.length; i++) {
                if (i >= startIndex && i < endIndex) {
                    rows[i].style.display = 'table-row';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }


        function previousPage() {
            if (currentPage > 0) {
                currentPage--;
                updatePage();
            }
        }

        function nextPage() {
            var maxPage = Math.ceil(rows.length / itemsPerPage) - 1;
            if (currentPage < maxPage) {
                currentPage++;
                updatePage();
            }
        }

        updatePage();
    </script>

    <script>
        function search() {
            var searchValue = document.getElementById('searchInput').value.toLowerCase();
            var rows = document.getElementsByTagName('tr');

            for (var i = 1; i < rows.length; i++) {
                var row = rows[i];
                var text = row.innerText.toLowerCase();

                if (text.indexOf(searchValue) === -1) {
                    row.style.display = 'none';
                } else {
                    row.style.display = 'table-row';
                }
            }
        }
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% endblock content %}
